<body id = "bg">
	<div id = "cntr">
		<div id = "butones">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		<%= link_to "Let's get started.", action: "new", controller: "schedules"%>
		</div>
	</div>
</body>
